@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model Product

<section id="portfolio-details" class="portfolio-details section">

	<div class="container aos-init aos-animate" data-aos="fade-up">

		<div class="container" data-aos="fade-up" data-aos-delay="100">

			<div class="swiper init-swiper" data-speed="600" data-delay="5000" data-breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 40 }, &quot;1200&quot;: { &quot;slidesPerView&quot;: 3, &quot;spaceBetween&quot;: 40 } }">
				<script type="application/json" class="swiper-config">
					{
					  "loop": true,
					  "speed": 600,
					  "autoplay": {
						"delay": 5000
					  },
					  "slidesPerView": "auto",
					  "pagination": {
						"el": ".swiper-pagination",
						"type": "bullets",
						"clickable": true
					  },
					  "breakpoints": {
						"320": {
						  "slidesPerView": 1,
						  "spaceBetween": 40
						},
						"1200": {
						  "slidesPerView": 3,
						  "spaceBetween": 20
						}
					  }
					}
				</script>

				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="testimonial-item">
							<img src="@Model.Photo" width="300" height="300" class="testimonial-img" alt="">
						</div>
					</div>
					<!-- End testimonial item -->
					@foreach (ProductImage item in Model.ProductImages)
					{
						<div class="swiper-slide">
							<div class="testimonial-item">
								@if (item.Image != null)
								{
									if (item.Image.Length > 0 && !(item.Image.StartsWith("https://") || item.Image.StartsWith("http://")))
									{
										<img src="@($"{Configuration["AdminPanelPath"]}upload/{item.Image}")"
											 width="300" height="300" class="testimonial-img" alt="">
									}
									else
									{
										<img src="@item.Image"
											 width="300" height="300" class="testimonial-img" alt="">
									}
								}
							</div>
						</div>
						<!-- End testimonial item -->
					}


				</div>
				<br />
				<br />
				<div class="swiper-pagination"></div>
			</div>

		</div>

		<div class="row justify-content-between gy-4 mt-4">

			<div class="col-lg-8 aos-init aos-animate" data-aos="fade-up">
				<div class="portfolio-description">
					<h2>@Model.Name</h2>
					<p>
						@Model.Description
					</p>

				</div>
			</div>

			<div class="col-lg-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
				<div class="portfolio-info">
					<h3>Product information</h3>
					<ul>
						<li><strong>Category</strong> @Model.Category?.Name</li>
						<li><strong>Price</strong> @Model.Price</li>
						@* <li><strong>Client</strong> ASU Company</li>
                        <li><strong>Project date</strong> 01 March, 2020</li>
                        <li><strong>Project URL</strong> <a href="#">www.example.com</a></li>
                        <li><a href="#" class="btn-visit align-self-start">Visit Website</a></li> *@
					</ul>
					<a type="submit" class="btn btn-success m-2" asp-controller="Home"
					   asp-action="AddProductToCart"
					   asp-route-id="@Model.Id"><i class="bi-plus"></i> Add to Cart</a>
				</div>
			</div>

		</div>

	</div>

</section>